/** CSS styles for mod_simplelesson */
.mod_simplelesson_page_edit {
    padding-top: 20px;
}
.mod_simplelesson_page_links ul {
    padding-right: 10px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.mod_simplelesson_page_links li {
    display: inline;
    padding:20px;
}
.mod_simplelesson_edit_links {
    margin: 20px 0 20px 0 ;
}
.mod_simplelesson_edit_links ul {
    padding-right: 20px;
    list-style: none;
}
.mod_simplelesson_page_index ul {
    list-style-type: none;
    padding-right: 10px;
}
.mod_simplelesson_page_index {
    background-color: #f5f5f5;
    border: 1px dotted #999;
    padding:5px;
}
.mod_simplelesson_page_index_container {
  float:right;
  padding: 10px;
}
.mod_simplelesson_data {
  padding: 10px 0 0 20px;
}
.mod_simplelesson_question .info {
    display:none;
}
.mod_simplelesson_save_button {
    padding-left:140px;
}
.mod_simplelesson_grading_header {
    padding-left:100px;
}
.mod_simplelesson_essay_text {
    margin:0 100px 20px 100px;
    padding: 10px;
    border: 1px solid #999;
}