{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template mod_simplelesson/question_edit

    Moodle table rendering template for question management

    This template renders and html table of question data.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example data (json):
        {
         "class": "mod_simplelesson_table"
         "caption": "this is table is for..."
         "tableheaders": ["colname", "colname", ...],
         "tabledata": ["tabledata", "tabledata", ...]
        }
}}
<div class="{{class}}">
<div class="table-responsive">
  <table class="table table-striped">
      <thead>
        {{#tableheaders}}
           <th>{{.}}</th>
        {{/tableheaders}}
      </thead>
      <tbody>
        {{#tabledata}}
          {{> mod_simplelesson/question_row}}
        {{/tabledata}}
      </tbody>
  </table>
</div>
</div>